<!DOCTYPE html>
<head>
	<title>HTML and CSS "Hello World"</title>
	<style>
		body {
			background-color: #FDB515;
		}
		
		h1 {
			color: #003262;
			font-size: 30px;
			font-family: Menlo, Monaco, fixed-width;
		}

		h2 {
			color: #BC9B6A;
			font-family: "Source Code Pro", Menlo, Monaco, fixed-width;

		}
		
		p {
			color: white;
			font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
		}
	</style>
</head>
<body>
	<button>Genital</button>
	<form>
			<input type="button" value="knob" onclick="window.location.href='http://localhost:5000/2'" />
			</form>
	<h1>8====D</h1>
	<h2>dick</h2>
	<p>penis</p>
</body>
</html>